body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.home_body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.home_content{
    margin-left: 160px; /* サイドバーの幅に応じて調整 */
    padding: 0 20px 20px 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.header h1{
    margin: 0 auto;
}

.link {
    display: inline-block;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* リンクの下線を消す */
    font-weight: bold;
}

.sidebar{
    position: fixed;
    width: 140px;
    height: 100%;
    background-color: #34495e;
    color: white;
    padding: 0px 20px 20px 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.5);
}

.sidebar div{
    display: block;
    margin-top: 50px;
}

.sidebar div a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding-left: 10px;
}

.sidebar a:hover {
    background-color: #4a6572;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 40px;
    width: 80px;
}

.user-info h4, .user-info a {
    margin: 0; /* 余白をリセット */
    padding: 0 0 5px 0; /* 適度なパディング */
    color: white; /* 文字色を白に */
    text-decoration: none; /* 下線を消す */
    font-size: 15px;
}

.user-info a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
}

.content {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-title {
    color: #333;
    font-size: 24px;
}

.upload-form {
    margin: 20px 0;
}

.input-file {
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.preview-placeholder {
    width: 100%;
    max-width: 350px;
    height: 200px;
    background-color: #f0f0f5;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex; /* 中央揃えのために追加 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
}

#preview {
    max-height: 200px;
    border-radius: 5px;
    display: none; 
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* 必要に応じて調整 */
    max-width: 600px; /* 必要に応じて調整 */
}

.processed-title {
    color: #4CAF50; /* 健康的な印象の色 */
    margin-bottom: 20px;
}

.processed-image {
    max-width: 100%; /* 画像がコンテナを超えないように */
    height: auto;
    border-radius: 5px; /* スタイリッシュな見た目のため */
}

.result-text p {
    color: #333;
    font-size: 18px;
}

.result-text div h4 {
    font-size: 1.5em; /* 大きなフォントサイズ */
    margin: 10px 0; /* 行間を狭める */
    color: #333; /* テキストの色を変更して目立たせる */
}

.another-image-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* リンクの下線を消す */
    font-weight: bold;
}

.toothbrush {
    display: flex;
    position: relative;
    width: 400px;
    margin: 40px
}

.toothbrush img {
    display: block;
    width: 400px;
    height: auto;
}

.toothbrush-part {
    position: absolute; /* リンクを絶対位置で配置 */
    top: 62%; /* 画像の上端からの位置 */
    height: 40%; /* 画像の高さに合わせる */
    z-index: 1; /* 画像より前面に配置 */
}

.toothbrush-container{
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: - 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    width: fit-content;
}

.toothbrush-container a:nth-child(2) {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 0%; /* 左端から */
}  

.toothbrush-container a:nth-child(3) {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 33.33%; /* 左端から1/3の位置 */
}

.toothbrush-container a:nth-child(4) {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 66.66%; /* 左端から2/3の位置 */
}

.label_morning {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 0%; /* 左端から */
    text-align: center;
}  

.label_afternoon {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 33.33%; /* 左端から1/3の位置 */
    text-align: center;
}

.label_evening {
    width: 33.33%; /* 画像の幅の1/3 */
    left: 66.66%; /* 左端から2/3の位置 */
    text-align: center;
}

.red{
    background-color: rgba(255, 0, 0, 0.2); 
}

.yellow{
    background-color: rgba(255, 255, 0, 0.2); 
}

.green{
    background-color: rgba(0, 255, 0, 0.2); 
}

.transparent{
    color: transparent;
}

.day_container{
    position: relative;
    display: flex;
}

.date{
    top: 40%;
    margin-top: 40px;
}

#calendar {
    max-width: 80%;
    margin: auto;
    min-height: 400px;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-content {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 5px;
}

.chat-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.user {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    margin-left:38%;
    width: 60%;
}

.bot {
    align-self: flex-start;
    background-color: #e9e9eb;
    color: black;
    width: 60%;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}