<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home_body">
        <div class="sidebar">
            <h3>{{ date }}</h3>
            <div>
                <a href="/home">ホーム</a>
                <a href="/record_list">記録</a>
                <a href="/reserve">歯科予約</a>
                <a href="/chat" class="active">チャット</a>
                <a href="/learn">歯周病を知る</a>
                <a href="/setting">設定</a>
            </div>
        </div>
        <div class="home_content">
            <div class="header">
                <div class="user-info"></div>
                <h1>SmileSavvy</h1>
                <div class="user-info">
                    <h4>{{ user }}</h4>
                    <a href="{{ url_for('logout') }}">ログアウト</a>
                </div>
            </div>
            <h1>AIチャット</h1>
            <h3>気になることがあれば、何でも聞いてください</h3>
            <div class="chat-container">
                <div class="chat-messages">
                    <!-- メッセージ例 -->
                    <div class="message bot">
                        [リマインド]<br>
                        ハードバンク歯科の予約は明日16時からです。
                    </div>
                    <div class="message user">ハードバンク歯科の場所を教えてください</div>
                    <div class="message bot">
                        ハードバンク歯科の場所はこちらです<br>
                        住所：東京都千代田区１－１
                    </div>
                    <!-- 他のメッセージ -->
                </div>
                <div class="chat-input">
                    <input type="text" placeholder="メッセージを入力..." />
                    <button>送信</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>