<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home_body">
        <div class="sidebar">
            <h3>{{ date }}</h3>
            <div>
                <a href="/home">ホーム</a>
                <a href="/record_list" class="active">記録</a>
                <a href="/reserve">歯科予約</a>
                <a href="/chat">チャット</a>
                <a href="/learn">歯周病を知る</a>
                <a href="/setting">設定</a>
            </div>
        </div>
        <div class="home_content">
            <div class="header">
                <div class="user-info"></div>
                <h1>SmileSavvy</h1>
                <div class="user-info">
                    <h4>{{ user }}</h4>
                    <a href="{{ url_for('logout') }}">ログアウト</a>
                </div>
            </div>
            <h1>歯磨きの記録</h1>
            <h3>歯ブラシのマークをクリックすると詳細が見えます</h3>
            <div class="setting-container">
                <form method="post" enctype="multipart/form-data" class="update-form">                
                    <label>過去</label>
                    <select name="length" id="length" required>
                        <option value=3>3</option>
                        <option value=7 {% if length==7 %}selected{% endif %}>7</option>
                        <option value=14 {% if length==14 %}selected{% endif %}>14</option>
                    </select>
                    <label>日間の記録を表示　</label>
                    <input type="submit" value="更新" class="update-btn">           
                </form>
                <a href="/setting">目標回数・時間を変更する</a>
            </div>

            {% if goal.keys() | length == 3 %}
                <div class="toothbrush-container three-times">
                    <div class="day_container">
                        <div class="date transparent"><h3>2024-03-01</h3></div>
                        <div class="toothbrush">
                            {% for number in goal.keys() %}
                                <box class="label_number_{{ loop.index }}"><h3>{{ loop.index }}回目（{{ goal[number]}}時）</h3></box>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="toothbrush-container three-times">
                    {% for day in display.keys() %}
                        <div class="day_container">
                            <div class="date"><h3>{{ day }}</h3></div>
                            <div class="toothbrush">
                                <img src="static/toothbrush.png">
                                {% for number in display[day].keys() %}
                                    {% if display[day][number] == None %}
                                        <a href="/upload_folder?day={{ day }}&number={{ number }}" title="新規登録" class="toothbrush-part"></a>
                                    {% else %}
                                        <a href="/record?data={{ display[day][number]['json'] }}" title="記録を確認" class="{% if display[day][number]['point'] <= 50 %}toothbrush-part red{% elif display[day][number]['point'] <= 90 %}toothbrush-part yellow{% else %}toothbrush-part green{% endif %}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif goal.keys() | length == 2 %}
                <div class="toothbrush-container twice">
                    <div class="day_container">
                        <div class="date transparent"><h3>2024-03-01</h3></div>
                        <div class="toothbrush">
                            {% for number in goal.keys() %}
                                <box class="label_number_{{ loop.index }}"><h3>{{ loop.index }}回目（{{ goal[number]}}時）</h3></box>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="toothbrush-container twice">
                    {% for day in display.keys() %}
                        <div class="day_container">
                            <div class="date"><h3>{{ day }}</h3></div>
                            <div class="toothbrush">
                                <img src="static/toothbrush.png">
                                {% for number in display[day].keys() %}
                                    {% if display[day][number] == None %}
                                        <a href="/upload_folder?day={{ day }}&number={{ number }}" title="新規登録" class="toothbrush-part"></a>
                                    {% else %}
                                        <a href="/record?data={{ display[day][number]['json'] }}" title="記録を確認" class="{% if display[day][number]['point'] <= 50 %}toothbrush-part red{% elif display[day][number]['point'] <= 90 %}toothbrush-part yellow{% else %}toothbrush-part green{% endif %}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="toothbrush-container once">
                    <div class="day_container">
                        <div class="date transparent"><h3>2024-03-01</h3></div>
                        <div class="toothbrush">
                            {% for number in goal.keys() %}
                                <box class="label_number_{{ loop.index }}"><h3>{{ loop.index }}回目（{{ goal[number]}}時）</h3></box>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="toothbrush-container once">
                    {% for day in display.keys() %}
                        <div class="day_container">
                            <div class="date"><h3>{{ day }}</h3></div>
                            <div class="toothbrush">
                                <img src="static/toothbrush.png">
                                {% for number in display[day].keys() %}
                                    {% if display[day][number] == None %}
                                        <a href="/upload_folder?day={{ day }}&number={{ number }}" title="新規登録" class="toothbrush-part"></a>
                                    {% else %}
                                        <a href="/record?data={{ display[day][number]['json'] }}" title="記録を確認" class="{% if display[day][number]['point'] <= 50 %}toothbrush-part red{% elif display[day][number]['point'] <= 90 %}toothbrush-part yellow{% else %}toothbrush-part green{% endif %}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>