<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home_body">
        <div class="sidebar">
            <h3>{{ date }}</h3>
            <div>
                <a href="/home">ホーム</a>
                <a href="/record_list">記録</a>
                <a href="/reserve">歯科予約</a>
                <a href="/chat">チャット</a>
                <a href="/learn">歯周病を知る</a>
                <a href="/setting">設定</a>
            </div>
        </div>
        <div class="home_content">
            <div class="header">
                <div class="user-info"></div>
                <h1>Smile Savvy</h1>
                <div class="user-info">
                    <h4>{{ user }}</h4>
                    <a href="{{ url_for('logout') }}">ログアウト</a>
                </div>
            </div>
            <div class="toothbrush-container">
                <div class="day_container">
                    <div class="date transparent"><h3>2024-03-01</h3></div>
                    <div class="toothbrush">
                        <box class="label_morning"><h3>朝</h3></box>
                        <box class="label_afternoon"><h3>昼</h3></box>
                        <box class="label_evening"><h3>夜</h3></box>
                    </div>
                </div>
            </div>
            <div class="toothbrush-container">
                {% for day in display.keys() %}
                    <div class="day_container">
                        <div class="date"><h3>{{ day }}</h3></div>
                        <div class="toothbrush">
                            <img src="static/toothbrush.png">
                            {% for time in display[day].keys() %}
                                {% if display[day][time] == None %}
                                    <a href="/upload_folder?day={{ day }}&time={{ time }}" title="新規登録" class="toothbrush-part"></a>
                                {% else %}
                                    <a href="/record?data={{ display[day][time]['json'] }}" title="記録を確認" class="{% if display[day][time]['point'] <= 82 %}toothbrush-part red{% elif display[day][time]['point'] <= 90 %}toothbrush-part yellow{% else %}toothbrush-part green{% endif %}"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>