<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home_body">
        <div class="sidebar">
            <h3>{{ date }}</h3>
            <div>
                <a href="/home">ホーム</a>
                <a href="/record_list">記録</a>
                <a href="/reserve">歯科予約</a>
                <a href="/chat">チャット</a>
                <a href="/learn">歯周病を知る</a>
                <a href="/setting">設定</a>
            </div>
        </div>
        <div class="home_content">
            <div class="header">
                <div class="user-info"></div>
                <h1>SmileSavvy</h1>
                <div class="user-info">
                    <h4>{{ user }}</h4>
                    <a href="{{ url_for('logout') }}">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>